!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap.css')
  body!= body
    script(src='javascripts/lib/underscore.js')
    script(data-main='javascripts/app/main',src='javascripts/lib/require.js')
